.header {
  width: 100%;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  gap: 32px;

  & .logo {
    display: block;
    width: auto;
    height: 24px;
  }

  & .navigation {
    flex: 1;
  }

  & .actions {
    display: flex;
    gap: 16px;
  }
}
